@php
    $imagePath = 'assets/img/image_name.jpg';
@endphp

<!DOCTYPE html>
<html>
<head>
  <title>Tailwind CDN Example</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
        theme: {
            extend: {
                backgroundImage: {
                    gradientradial: 'radial-gradient(var(--tw-gradient-stops))',
                },
                colors: {
                    primary: '#3D2874',
                    secondary: '#E2FF56',
                    cyanest : '#4EF1E0',
                    darkest : '#090116'
                }
            },
            fontFamily: {
            sans: ['Poppins'],
            space: ['Space Grotesk']
            }
        },
    }
  </script>
</head>
<body>
  <!-- <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
    <div>
      <div class="text-xl font-medium text-cyanest font-sans">ChitChat</div>
      <p class="text-gray-500">You have a new message!</p>
    </div>
  </div> -->
    <div class="bg-primary z-1 h-screen items-center content-center">
        <div class="justify-center ">
            <img
                class="mt-32 absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/3 mx-auto lg:mt-12"
                src={Background}
                alt="ast1"
            />
        </div>
        <div class="mx-auto absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/3 hover:scale-y-105 transition-all duration-300">
            <div class="items-center content-center flex flex-row space-x-12">
                <div>
                    <div class="flex flex-row space-x-2">
                        <img class="h-6" src={Pin} alt="" />
                        <p class="text-left text-white font-medium text-xl">Coming Soon October 2023!</p>
                    </div>
                    <div>
                        <p class="text-left text-cyanest font-bold text-9xl">2023</p>
                    </div>
                </div>
                <div>
                    <img class="h-60 -mt-24" src={Hero} alt="" />
                </div>
            </div>
            <div>
                <p class="text-left text-white font-bold text-9xl">CYBERDAS</p>
            </div>
        </div>
    </div>

    <div id="tentang" class="bg-white z-0 py-16 font-sans px-40">
        <div class="lg:space-x-8 lg:flex lg:flex-row">
            <div>
                <p class="space-y-2 my-2 text-center font-bold text-8xl lg:text-6xl lg:text-right hover:scale-105 transition-all duration-300">
                    <span class="underline decoration-cyanest decoration-8">International Workshop</span> on <span class="text-primary">Cyber Security</span> and <span class="text-primary">Data Science.</span> 
                </p>
            </div>
            <br />
            <div>
                <p class="space-y-2 my-2 font-medium text-4xl pr-10 text-justify lg:flex lg:flex-col lg:text-left lg:text-xl">
                    During the Covid pandemic, there are two things in information technoIogy that have become the spotlight, cybersecurity and data science. There are several cybersecurity incidents that occurred during the pandemic, such as the proliferation of phishing websites that use information about Covid-19 to lure victims into giving up their personal data, malicious software that targets users who work from home online, and malicious domains containing covid or corona keywords. In addition, data processing has become very important in the past pandemic era. We can estimate the spread of the virus by tracking people's movement patterns. These are the two things that motivate us to share knowledge from international experts to the Indonesian and international community by holding an International Workshop on Cyber Security and Data Science.
                </p>
            </div>
        </div>
    </div>
</body>
</html>